<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spooky Ensembles</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src='/eater.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Alegreya+SC' rel='stylesheet' type='text/css'/>
  </head>
  <body class="backgroundBody">
    <div id="page">
      <header id="site-header">
        <a href="/">Spooky Ensembles</a>
      </header>
      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>