<article id="sessions-new-page">
  <h2 id="signIn">Sign In</h2>

  <% if user == nil || user.errors.any? %>
    <div class="form-errors">
      <p>There was a problem signing in.</p>
    </div>
  <% end %>

  <form id="sign-in-form" class="horizontal-form"
        method="POST" action="/sessions">

    <label for="username">Username</label>

    <input id="username" type="text" name="username"
           placeholder="sailorMoonie">

    <label for="password">Password</label>

    <input id="user-password" type="password" name="password">

    <button type="submit">Sign In</button>
  </form>
</article>
