<form id="sign-in-form" method="POST" action="/sessions">
  <input type="text" name="username" placeholder="Username Bruh">
  <input type="password" name="password" placeholder="Password Bruh">
  <button type="submit">Sign In</button>
</form>
