<article id="users-new-page">
  <h2 id="createAccount">Create Account</h2>

  <% if user.errors.any? %>
    <div class="form-errors">
      <h3>Uh oh! There were some errors.</h3>
      <ul class="error-messages">
        <% user.errors.full_messages.each do |error_msg| %>
          <li><%= error_msg %></li>
        <% end %>
      </ul
    </div>
  <% end %>
  
    <% if user_logged_in == false %>
  <h3 id="form-errors"> Uh oh! It looks like you haven't signed in! Create an account, or sign in <a href="/sessions/new">here</a> </h3>
  <% end %>

  <form id="create-account-form" class="horizontal-form"
        method="POST" action="/users">

    <label for="user-username">Username</label>

    <input id="user-username" type="text" name="user[username]"
           placeholder="sailorMoonie" value="<%= user.username %>">

    <label for="user-password">Password</label>

    <input id="user-password" type="password" name="user[password]">


    
    <button type="submit">Create Account</button>
  </form>
</article>
